version: '3.8'

services:
  godot-api:
    image: godot-backend-v3
    build:
      context: .
      args:
        GIT_USERNAME: ${GIT_USERNAME}
        GIT_TOKEN: ${GIT_TOKEN}
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
      - ./config:/app/config
      - ./data:/app/data
      - ./test_misc:/app/test_misc
    environment:
      - LOG_LEVEL=INFO
    restart: unless-stopped 